
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

#Github workflow
/.github/workflows

#js-tests
/js-tests/

/playwright.config.js

/results.json
/results.json.html

/tsconfig.json
